body {
    background-color: #a30f0f;
    text-align: center;
    padding-top: 50px;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: #ffffff;
}

button {
    background-color: #ffffff;
    color: #a30f0f;
    font-size: 24px;
    font-weight: bold;
    padding: 20px 40px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    margin: 20px;
}

button:hover {
    background-color: #ca3232;
    color: #ffffff;
}